* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.8s ease;
}

body {
  background: linear-gradient(90deg, #62f0f0, #fb95ff);
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #0059ff;
  background-color: #fff;
  #display {
    color: #0a1e23;
    margin: 0 10px;
    height: 120px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 800;
  }

  #equal {
    height: 130px;
  }
  #clear {
    background-color: #ffd0fb;
    color: #fc3340;
  }
  .btn-number {
    background-color: #c3eaff;
    color: #000000;
  }
  .btn-operator {
    background-color: #ffd0fb;
    color: #0051ff;
  }
  .btn-equal {
    background-color: #adf9e7;
    color: #000;
  }

  &.dark {
    background-color: #1b1b1b;
    #display {
      color: #f8fafb;
    }
    #clear {
      background-color: #4c35aa;
      color: white;
    }
    .btn-number {
      background-color: #8efda6;
      color: black;
      font-weight: 600;
    }
    .btn-operator {
      background-color: #f0db4f;
      color: #aa00a4;
    }
    .btn-equal {
      background-color: #f23b00;
      color: #ffffff;
    }
  }
}

.theme-toggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
  }
}
.theme-toggler.active {
  color: #333;
  &::before {
    background-color: #fff;
  }
}

button {
  height: 60px;
  width: 60px;
  font-weight: 600;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.historial {
  border: solid red 2px;
  height: 40vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.entry_display {
  border: solid red 2px;
  height: 100%;
  padding: 10px;
}
